.root {
  position: relative;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: var(--radius-s);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.icon {
  color: var(--text) !important;
}
