.root {
  user-select: none;
  border-radius: var(--radius);
}

.selected {
  background-color: color-mix(in srgb, var(--text) 12%, transparent);
}

.root:hover:not(.selected) {
  background-color: color-mix(in srgb, var(--text) 6%, transparent);
}
